<template class="section-template">
  <script src="script/configuration.js"></script>
  <section id="configuration" class="wrapper style2 spotlights">
    <section>
      <div class="content">
        <div class="inner">
          <h2>Builder Configuration</h2>
          <p>The following are locations for scripts and models</p>
        </div>
        <div>
          <label for="scriptsLocation">Generation Scripts</label>
          <input type="text" id="scriptsLocation" editable="false">
        </div>
        <div>
          <label for="modelsLocation">Models</label>
          <input type="text" id="modelsLocation" editable="false">
        </div>
      </div>
    </section>
    <section>
      <div class="content inner">
        <h2>Existing Providers</h2>
        <p>The following are configured HLF Providers</p>
        <div id="tableProviders"></div>
        <ul class="actions">
          <li><a href="#addNewProvider" id="addNewProvider" class="button scrolly">Add New...</a></li>
        </ul>
      </div>
    </section>
    <section>
      <div class="content">
        <div class="inner">
          <h2>Add New Provider</h2>
          <div>
            <p>Copy the admin service key from your Quorum Provider Dashboard (SAP Cloud Platform) and paste below</p>
            <label for="addNewProviderKey">Provider Key (JSON)</label>
            <textarea name="newProviderKey" id="newProviderKey" rows="5" cols="80"></textarea>
          </div>
          <br>
          <div>
            <label for="addNewProviderMnemonic">Mnemonic</label>
            <input type="text" name="newProviderMnemonic" id="newProviderMnemonic"></input>
          </div>
          <div class="content inner">
            <p>Enter a twelve word mnemonic</p>
          </div>
          <div id="addNewProvider">
            <label for="newProviderName">Provider Name</label>
            <input type="text" id="newProviderName">
          <div>
          <div class="content inner">
            <p>Naming: Please enter the name of the provider as it appears in your dashboard with extenson .json</p>
          </div>
          <div>
            <ul class="actions">
              <li><a href="#" width="25%" id="addNewProviderWithKey" class="button scrolly">Add Provider</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>
