<template class="section-template">
  <script src="script/generation.js"></script>
  <section id="generation" class="wrapper style4 spotlights">
    <div class="inner">
      <h2>Business Network Generation</h2>
      <div class="style1">
        <section>
            <div class="content inner">
              <label for="projectName">Select Project Name for Generation / Deployment</label>
              <select id="projectName">
              </select>
            </div>
            <div>
              <br/>
              <ul class="actions">
                <li><a href="#" width="25%" id="generateProject" class="button scrolly">Generate Project</a></li>
                <li><a href="#" width="25%" id="resetProjectGeneration" class="button scrolly">Reset Project Generation</a></li>
                <li><a href="#" width="25%" id="refreshProjectList" class="button scrolly">Refresh</a></li>
              </ul>
            </div>
            <br/>
            <br/>
            <div class="content inner">
              <label for="cfProviderDetails">Select SAP Cloud Foundry Provider for Deployment</label>
              <select id="cfProviderDetails">
              </select>
              <p>
                <br/>
                You can manage the channel instances that can be accessed by you for deployment in the configuraion section of this wizard.
              </p>
            </div>
            <div>
              <ul class="actions">
                <li><a href="#" width="25%" id="deployProjectDev" class="button scrolly">Deploy Project (DEV)</a></li>
                <li><a href="#" width="25%" id="deployProjectPro" class="button scrolly">Deploy Project (PRO)</a></li>
                <li><a href="#" width="25%" id="refreshCfProviderDetails" class="button scrolly">Refresh</a></li>
              </ul>
            </div>
        </section>
      </div>
    </div>
  </section>
</template>
