<template class="section-template">
  <script src="script/projects.js"></script>
  <section id="projects" class="wrapper style3 spotlights">
    <section>
      <div class="content">
        <div class="inner">
          <h2>Projects Overview</h2>
          <p>
            The following projects already exist in your Fabric Builder workspace.<br/>
            Deleting a project, has the following behaviour (cumulatively based on project's status hierarchy):<br/>
            <b>new</b> - Removes the modeling folder and configuration entry <br/>
            <b>modeled</b> - Also removes the saved models<br/>
            <b>generated</b> - Also removes all project's generated artifacts (in project's generation path)<br/>
            <b>deployed</b> - No deletion, as the artifacts are already deployed to a channel<br/>
            <b>ready to re-deploy</b> - No deletion, as the artifacts are already deployed to a channel<br/>
          </p>
          <div id="tableProjects"></div>
          <ul class="actions">
            <li><a href="#addNewProject" id="addNew" class="button scrolly">Add New...</a></li>
            <li><a href="#refreshProjects" id="refreshProjects" class="button scrolly">Refresh</a></li>
          </ul>
        </div>
      </div>
    </section>
    <section>
      <div class="content">
        <div class="inner">
          <h2>Add New Project</h2>
          <div id="addNewProjectName">
            <label for="newProjectName">Select a name for your new business network</label>
            <input type="text" id="newProjectName">
          </div>
          <br>
          <div id="addNewProjectLocation">
            <label for="selectedNewProjectPath">Specify path at which the generated artifacts should be saved to</label>
            <ul class="actions fit">
              <li><input type="text" width="75%" id="selectedNewProjectPath"></li>
              <li><a href="#projects" width="25%" id="selectNewProjectPath" class="button scrolly">Select Location</a></li>
            </ul>
            <ul class="actions">
              <li><a href="#" id="addNewProject" class="button scrolly">Add New Project</a></li>
            </ul>
          </div>
         </div>
        </div>
    </section>
  </section>
</template>
